<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeMgmt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminVerification</display-name>
    <servlet-name>AdminVerification</servlet-name>
    <servlet-class>com.control.AdminVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVerification</servlet-name>
    <url-pattern>/verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBean</display-name>
    <servlet-name>InsertBean</servlet-name>
    <servlet-class>com.control.InsertBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBean</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WABackend</display-name>
    <servlet-name>WABackend</servlet-name>
    <servlet-class>com.control.WABackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WABackend</servlet-name>
    <url-pattern>/Backend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBackend</display-name>
    <servlet-name>DisplayBackend</servlet-name>
    <servlet-class>com.control.DisplayBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBackend</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBackend</display-name>
    <servlet-name>DeleteBackend</servlet-name>
    <servlet-class>com.control.DeleteBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBackend</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.control.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update2</display-name>
    <servlet-name>Update2</servlet-name>
    <servlet-class>com.control.Update2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update2</servlet-name>
    <url-pattern>/Update2</url-pattern>
  </servlet-mapping>
</web-app>